In [3]:
#1.Write a Python program to create a tuple
t = (10,200,4,55,402)
print(t)
print(type(t))

(10, 200, 4, 55, 402)
<class 'tuple'>

In [14]:
#2.Write a Python program to create a tuple with different data types

a = ("Shruti",[4, 2, 3],'T',2)
print(a)

('Shruti', [4, 2, 3], 'T', 2)

In [18]:
#3.Write a Python program to create a tuple with numbers and print one item
s = (1,2,3,4,5,6,7,8)
print(s)
print(type(s))
s[2]

(1, 2, 3, 4, 5, 6, 7, 8)
<class 'tuple'>

3

In [27]:
#4.Write a Python program to unpack a tuple in several variables
names = ("neha", "avinash", "swapnali","nikita")
names= name1,name2,name3,name4 
print(name1)
print(name2) 
print(name3)
print(name4)

neha
avinash
swapnali
nikita

In [43]:
#5.Write a Python program to add an item in a tuple
names = ("neha", "avinash", "swapnali","nikita")
new_names = ("shruti",) + names
print(new_names)

('shruti', 'neha', 'avinash', 'swapnali', 'nikita')

In [48]:
#6.Write a Python program to convert a tuple to a string
new_names = ", ".join(names)
print(new_names)

neha, avinash, swapnali, nikita

In [51]:
#7.Write a Python program to get the 4th element and 4th element from last of a tuple
# Create a tuple
s = (1, 2, 3, 4, 5, 6)

# Access the 4th element
fourth_element = s[4]
print("The 4th element is:", fourth_element)

# Access the 4th element from the last
last_fourth_element = s[-4]
print("The 4th element from last is:", last_fourth_element)

The 4th element is: 5
The 4th element from last is: 3

In [53]:
#8.Write a Python program to create the colon of a tuple
test_tuple = ("Tutor", 'J', 23 , 56.67 , [23,12] , True)
print(test_tuple)

('Tutor', 'J', 23, 56.67, [23, 12], True)

In [37]:
#9.Write a Python program to find the repeated items of a tuple
def repeated_items(a, item):
    count = a.count(item)
    return count
a = (6, 39, 55, 2, 1, 6, 8, 6, 78, 34, 6)
item = 6
count = repeated_items(a, item)
print("Repeated items =",count)

Repeated items = 4

In [23]:
#10. Write a Python program to check whether an element exists within a tuple
s = ('h','s','u','t','r','i', 7, 'e', 'z', 'g', 3)
check1 = 2
check2 = 's'

# Check and print the result
print("{check1} in Tuple =", check1 in s)
print("{check2} in Tuple =", check2 in s)

{check1} in Tuple = False
{check2} in Tuple = True

In [26]:
#11.Write a Python program to convert a list to a tuple
w = [11,22,33,44,55,66]
t = tuple(w)
print(t)

(11, 22, 33, 44, 55, 66)

In [27]:
#12. Write a Python program to remove an item from a tuple
r = {202,500,432,657,111}
r.remove(111)
print(r)

{432, 657, 500, 202}

In [31]:
#13. Write a Python program to slice a tuple
slice = (66,24,10,2,4,65,55,20,44,10,2,54,10)
print(slice)
slice[6:12]

(66, 24, 10, 2, 4, 65, 55, 20, 44, 10, 2, 54, 10)

(55, 20, 44, 10, 2, 54)

In [43]:
#14. Write a Python program to find the index of an item of a tuple
l = (66,24,10,2,4,65,55,20,44,10,2,54,10)
print(l)
print("Index :", l.index(55))

(66, 24, 10, 2, 4, 65, 55, 20, 44, 10, 2, 54, 10)
Index : 6

In [44]:
#15.Write a Python program to find the length of a tuple
l = (66,24,10,2,4,65,55,20,44,10,2,54,10)
len(l)

13

In [7]:
#16. Write a Python program to convert a tuple to a dictionary
def tuple_to_dict(tuple_data):
    # Check if the length of the tuple is even (since each key should have a corresponding value)
    if len(tuple_data) % 2 != 0:
        raise ValueError("Tuple length must be even for conversion to dictionary")

    result_dict = dict(zip(tuple_data[::2], tuple_data[1::2]))
    return result_dict

sample_tuple = (1, 'one', 2, 'two', 3, 'three')
result_dictionary = tuple_to_dict(sample_tuple)
print(result_dictionary)

{1: 'one', 2: 'two', 3: 'three'}

In [10]:
#18. Write a Python program to reverse a tuple
def rev(t):
  res = t[::-1]
  return (res)
t = (1, 2, 3, 4, 5)
print("The original tuple is : ", t)
res = rev(t)
print("The reversed tuple is : ", res)

The original tuple is :  (1, 2, 3, 4, 5)
The reversed tuple is :  (5, 4, 3, 2, 1)

In [13]:
#19.Write a Python program to convert a list of tuples into a dictionary
t = [('shruti', 1), ('sanjay', 2), ('thorle', 3)]
res = dict(t)
print("name : ", res)

name :  {'shruti': 1, 'sanjay': 2, 'thorle': 3}

In [15]:
#20. Write a Python program to print a tuple with string formatting
cities = ("Nashik", "pune", "banglore", "aurangabad", "mumbai", "ooty", "hariyana", "telangana")
print("cities ('", end=" ")
for city in cities:
    print(city, end=", ")
print("')")

cities (' Nashik, pune, banglore, aurangabad, mumbai, ooty, hariyana, telangana, ')

In [17]:
#21. Create a tuple with single item 23
m = (23)

print("Tuple:", m)
print("Type of Tuple:", type(m))

Tuple: 23
Type of Tuple: <class 'int'>

In [18]:
#22. Unpack the tuple into 5 variables
t = (1, 2, 3, 4, 5)
m, n, p, q, r = t
print(m)
print(n)
print(p)
print(q)
print(r)

1
2
3
4
5

In [19]:
#23. Swap two tuples in Python
t1 = (1, 2, 3)
t2 = ('a', 'b', 'c')
temp = t1
t1 = t2
t2 = temp
print("Tuple 1:", t1)
print("Tuple 2:", t2)

Tuple 1: ('a', 'b', 'c')
Tuple 2: (1, 2, 3)

In [3]:
#24. Copy specific elements from one tuple to a new tuple
s = {1,2,3,4,5}
print(s)
l = [10,20,30,40,50]
print(l)
s.update(l)
print(s)

{1, 2, 3, 4, 5}
[10, 20, 30, 40, 50]
{1, 2, 3, 4, 5, 10, 20, 30, 40, 50}

In [22]:
#25.Modify the tuple
dt= (10, 20, 30, 40, 50)
data = list(dt)
data[2] = 33
data = tuple(data)
print("updated:", data)

updated: (10, 20, 33, 40, 50)

In [28]:
#26. Sort a tuple of tuples by 2nd item

Original tuple: [('a', 53), ('b', 37), ('c', 23), ('d', 1), ('e', 18)]
Sorted tuple by 2nd item: [('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53)]

In [36]:
original_tuple = (('p', 33), ('q', 20), ('r', 98), ('d',23), ('e', 18))
# Sort the tuple by the second item
sorted_tuple = tuple(sorted(original_tuple, key=lambda x: x[1]))

# Print the sorted tuple
print("Sorted Tuple:", sorted_tuple)

Sorted Tuple: (('d', 1), ('e', 18), ('c', 23), ('b', 37), ('a', 53))